body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.Home {
  height: 651px;
  background: url('../images/homebgimg.png');
  background-size: cover;
  background-position: center;
}

.HomeGroup {
  margin: -30px 250px 0 280px;
  padding-top: 35px;
  max-width: 500px;
}

.Home h1 {
  background: -webkit-linear-gradient(45deg, #8E161F, #E31117);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  line-height: 1.2;
}

.HomeGroup2 {
  margin: -50px 525px 0 auto;
  padding-top: 185px;
  max-width: 500px;
}

.Home p {
  font-family: "Arial";
  font-weight: bold;
  color: white;
  font-size: 18;
  letter-spacing: 2.6px;
}

.Rectangle {
  height: 29px;
  width: 105px;
  font-family: "Arial";
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 2.36px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  margin-left: 850px;
  margin-right: auto;
}

.Rectangle p {
  margin-bottom: 0px;
margin-top: 7px;
}



